/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

.main {
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}

.container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

.btn_primary {
  color: #ffffff;
  background-color: #1890ff;
}

.btn_outline {
  color: #595959;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */
.header {
  min-height: 154px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 44px;
  padding-bottom: 44px;
}

.logo {
  max-width: 100px;
}

.header__controls {
  display: flex;
  gap: 8px;
}

/* Content */
.intro {
  padding: 68px;
  background-color: #fff1b8;
  background-image: url(img/banners/banner.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  border-radius: 10px;
}

.intro__title {
  max-width: 450px;
  margin-bottom: 16px;
  color: #302c34;
  font-size: 39px;
  font-weight: 700;
}

.intro__desc {
  max-width: 538px;
  color: #302c34;
  font-size: 24px;
  font-weight: 400;
}

.rests {
  padding-top: 56px;
  padding-bottom: 90px;
}

.section__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 44px;
}

.section__title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
}

.rests__search {
  max-width: 306px;
  min-width: 290px;
  padding: 5px 12px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.rests__search::placeholder {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 24px;
}

.card {
  width: calc((100% - 24px - 24px) / 3);
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.card__pic {
  min-width: 100%;
}

.card__desc {
  padding: 20px 24px 35px;
}

.card__desc-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.card__badge {
  padding: 1px 8px;
  border-radius: 2px;
  background: #262626;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.card__desc-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.card__desc-info_rating {
  display: flex;
  /* align-items: center; */
  gap: 7.5px;
}

.card__desc-info_icon {
  vertical-align: middle;
}

.card__desc-info_rating-value {
  color: #ffc107;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
}

.card__desc-info_price,
.card__desc-info_group {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  position: relative;
}

.card__desc-info_group::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -14px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
}

@media (max-width: 1023px) {
  .card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

/* Footer */
.footer {
  min-height: 156px;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
  padding: 60px 0;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.footer__nav-link {
  color: #595959;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
}
